In [15]:
import pandas as pd 
from datetime import datetime

In [26]:
df = pd.read_excel(".\\data\\hsxf.xlsx")
df.head()

,LOAD_ID,STOP_SEQ,WEEK_NUM,CARR_CD,FAIL_REASON,SRVC_CD,SHPD_DTT,IOD_REPORT_DTT,ETA,DROP_APT,RDD_DTT,DELIVERY_DTT,CUST_NAME,PRO_NO,DEST_ADDR
0,10666463,2,22,HSXF,BUSHOUR,SPOT,05/06/2020 12:54,05/28/2020 19:08,05/22/2020 11:09,NaN,05/05/2020 00:00,05/27/2020 15:30,DMG CORPORATION,10666463,"94-485 KOAKI ST ATTN-PO#53308 WAIPAHU, HI 9679..."
1,10702161,2,23,HSXF,BUSHOUR,SPOT,05/21/2020 13:40,06/03/2020 13:04,06/02/2020 16:09,NaN,05/25/2020 00:00,06/02/2020 15:00,DMG CORPORATION,10702161,"91-270 HANUA STREET ATTN: DEN KAPOLEI, HI 9670..."
2,10692794,2,23,HSXF,BUSHOUR,SPOT,05/21/2020 13:40,06/04/2020 14:47,06/04/2020 16:09,NaN,05/19/2020 00:00,06/03/2020 15:35,DMG CORPORATION,10692794,94-1388 MOANIANI STREET 414 ATTN: ADAM N. WAIP...
3,10696568,2,24,HSXF,BUSHOUR,SPOT,05/28/2020 18:18,06/12/2020 15:00,06/09/2020 16:09,NaN,05/15/2020 00:00,06/11/2020 10:30,TRANSOURCE SERVICES CORP,10696568,"BUILDING 2268 2368 CENTRAL AVENUE EIELSON AFB,..."
4,10751396,2,28,HSXF,BUSHOUR,SPOT,06/16/2020 16:39,07/10/2020 13:59,07/06/2020 15:11,NaN,06/10/2020 00:00,07/08/2020 16:00,DMG CORPORATION,10751396,"213 MERCURY STREET HONOLULU, HI 96818 USA"

In [27]:
datetime.now().weekday()


weekday_dict = {
    0 : "Monday",
    1 : "Tuesday",
    2 : "Wednesday",
    3 : "Thursday",
    4 : "Friday",
    5 : "Saturday",
    6 : "Sunday",
    
}

In [28]:
df.SHPD_DTT = df.SHPD_DTT.apply(pd.to_datetime)
df.IOD_REPORT_DTT = df.IOD_REPORT_DTT.apply(pd.to_datetime)
df.ETA = df.ETA.apply(pd.to_datetime)
df.DELIVERY_DTT = df.DELIVERY_DTT.apply(pd.to_datetime)

In [29]:
df['SHPD_DTT_weekday'] = df.SHPD_DTT.apply(lambda x : weekday_dict[x.weekday()])
df['ETA_weekday'] = df.ETA.apply(lambda x : weekday_dict[x.weekday()])
df['DELIVERY_DTT_weekday'] = df.DELIVERY_DTT.apply(lambda x : weekday_dict[x.weekday()])
df['IOD_REPORT_DTT_weekday'] = df.IOD_REPORT_DTT.apply(lambda x : weekday_dict[x.weekday()])

In [32]:
df.to_csv("hsxf_table.csv",index = False)